#Importing Required Modules

In [1]:
import numpy as np #numpy arrays like lists
import pandas as pd #dataframes
from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LogisticRegression as LR
from sklearn.metrics import accuracy_score as A_S #evaluate model performance

#Data Collection and Pre-processing

In [2]:
#loading the csv dataset into pandas dataframe
hrt_data = pd.read_csv('/content/heart.csv')

In [3]:
#print top rows of the dataset
hrt_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [4]:
#print last rows of the dataset
hrt_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [5]:
#number of rows and columns in the dataset
hrt_data.shape

(1025, 14)

In [6]:
#getting more information
hrt_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [7]:
# Checking for Missing Values (Imputations/Interpolation)
hrt_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [8]:
#statistical measure of the data
hrt_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [9]:
#checking the distribution of the target variable
hrt_data['target'].value_counts()

1    526
0    499
Name: target, dtype: int64

1 --> Heart Disease

0 --> No Heart Disease

#Splitting the Features and Target

In [10]:
P = hrt_data.drop(columns='target',axis=1) #Features Data axis=1 fro column, 0 for row
Q = hrt_data['target'] #Target Data

In [11]:
print(P)

      age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0      52    1   0       125   212    0        1      168      0      1.0
1      53    1   0       140   203    1        0      155      1      3.1
2      70    1   0       145   174    0        1      125      1      2.6
3      61    1   0       148   203    0        1      161      0      0.0
4      62    0   0       138   294    1        1      106      0      1.9
...   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
1020   59    1   1       140   221    0        1      164      1      0.0
1021   60    1   0       125   258    0        0      141      1      2.8
1022   47    1   0       110   275    0        0      118      1      1.0
1023   50    0   0       110   254    0        0      159      0      0.0
1024   54    1   0       120   188    0        1      113      0      1.4

      slope  ca  thal
0         2   2     3
1         0   0     3
2         0   0     3
3         2   1     3
4         1   3     2
...     ...  ..   ...
1020      2   0     2
1021      1   1     3
1022      1   1     2
1023      2   0     2
1024      1   1     3

[1025 rows x 13 columns]

In [12]:
print(Q)

0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64

# Splitting the data into training and testing data

In [13]:
P_train, P_test, Q_train, Q_test = tts(P, Q, test_size=0.2, stratify=Q, random_state=2)

In [14]:
#Check no. of datapoints
print(P.shape, P_train.shape, P_test.shape)

(1025, 13) (820, 13) (205, 13)

#Model Training using Logistic Regression for binary classification

In [15]:
model = LR() #creating one instance of Logistic Regression model

In [16]:
#training the LogisticRegression Model with training data
model.fit(P_train, Q_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

#Model Evaluation (Accuracy Score)

In [17]:
P_train_pred = model.predict(P_train)
training_data_accuracy = A_S(P_train_pred, Q_train)

In [18]:
print('Training Data Accuracy: ',training_data_accuracy)

Training Data Accuracy:  0.8524390243902439

In [20]:
#Test Data Accuracy
P_test_pred = model.predict(P_test)
test_data_accuracy = A_S(P_test_pred, Q_test)

In [21]:
print('Test Data Accuracy: ',test_data_accuracy)

Test Data Accuracy:  0.8048780487804879

If accuracy on Training Data is too high and on testing Data is too low, then model is overfitted, which is not expected.
underfitted: If accuracy on Training Data is poor

#Predictive Model

In [22]:
#Developing a Predictive System
input_data = (57,1,0,150,276,0,0,112,1,0.6,1,1,1)

#change input data into a numpy array
inp_data_nmpy_array=np.asarray(input_data)

#reshaping the numpy array as we will predict for one data value
inp_data_reshaped=inp_data_nmpy_array.reshape(1,-1)

prediction = model.predict(inp_data_reshaped)
print(prediction)

[0]

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

In [23]:
if prediction[0]==1:
  print("The Person suffers from a Heart Disease")
else:
  print("The Person does not suffer from a Heart Disease")

The Person does not suffer from a Heart Disease